[defaults]
inventory = inventory
host_key_checking = False
stdout_callback=debug
stderr_callback=debug

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
control_path = /dev/shm/cp%%h-%%p-%%r
