[masters]
${kubernetes_master_name} ansible_host=${kubernetes_master_address} ansible_user=${user} ansible_ssh_private_key_file=${key_path}

[workers]
%{ for kubernetes_worker_name_index, kubernetes_worker_name in kubernetes_workers_name ~}
%{ for kubernetes_worker_address_index, kubernetes_worker_address in kubernetes_workers_address ~}
%{ if kubernetes_worker_name_index == kubernetes_worker_address_index ~}
${kubernetes_worker_name} ansible_host=${kubernetes_worker_address} ansible_user=${user} ansible_ssh_private_key_file=${key_path}
%{ endif ~}
%{ endfor ~}
%{ endfor ~}
